/* * {
outline: 3px solid #8c1738;
} */

html {
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: inherit
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-align: left;
  font-weight: 400;
  background-color: #f4f7f9;
  padding-bottom: 46px;
  margin-bottom: 60px;
}

.inner-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-align: left;
  font-weight: 400;
  background-color: #f4f7f9;
  padding-bottom: 46px;
}

.header-menu {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  min-height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.header-logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px rgba(0,255,17,1);
}

.header-logo-img {
  padding: 13px 55px;
}

.search-top {
  width: 270px;
  height: 42px;
  color: #ffffff;
}

.search-top input {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 49px;
  color: #ffffff;
}

.search-top input::placeholder {
  color: #ffffff;
}

.search-top-label {
  position: relative;
}

.search-top-label svg {
  position: absolute;
  top: 0;
  left: 17px;
  fill: #ffffff;
}

.search-top-input:focus {
  color: #000000;
  background: #ffffff;
}

.search-top-input:focus + svg {
  fill: #ee3643
}

.bookmarks-button {
  width: 150px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 44px;
}

.bookmarks-button:hover {
  background-color: #212a3a;
}
.bookmarks-button:active {
  background-color: #161d29;
}

.cart-button {
  width: 150px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 49px;
}

.cart-button:hover {
  width: 150px;
  height: 42px;
  background-color: #212a3a;
}

.cart-button:active {
  width: 150px;
  height: 42px;
  background-color: #161d29;
}

.checkout-button {
  width: 150px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 20px;
  background-color: #63a63e;

}

.checkout-button:hover {
  background-color: #5fbb2d;
}

.checkout-button:active {
  width: 150px;
  height: 42px;
  background-color: #518534;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
}

.breadcrumbs-list-item {
  list-style: none;
}

.footer-nav-list-bottom-item {
  list-style: none;
}

.footer-nav-list-top-item {
  list-style: none;
}

.services-background {
}

.header-menu-background {
  background-color: #293449;

}

.header-menu a {
  color: #ffffff;

}

.info-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  margin-bottom: 30px;
}

/*.search-top:hover {
width: 150px;
height: 42px;
background-color: #212a3a;
color: #ffffff;
}

.search-top:focus {
width: 270px;
height: 42px;
background-color: #ffffff;
color: #000000;
}
*/

.login-button {
  background-color: #ffffff;
  color: #000000;
  margin-left: 96px;
}

.login-button:hover {
  color: #ee3643;
}

.login-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.reg-button {
  background-color: #ffffff;
  color: #000000;
  margin-left: 56px;
}

.reg-button:hover {
  color: #ee3643;
}

.reg-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.username {
  width: 1280px;
  height: 4880px;
  background-color: #ffffff;
}

.username-link:active {
  width: 1280px;
  height: 4880px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}

.header-contacts {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  /* margin: 0 auto; */
  margin-top: 48px;
  margin-left: 72px;
}

.user-nav {
  margin-top: 57px;
  /*  margin-right: 82px;
  align-self: center;*/
}

.user-nav a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-nav-inner {
  margin-top: 57px;
  text-align: center;
  margin-left: 78px;


  /*  margin-right: 82px;
  align-self: center;*/
}

.user-nav-inner a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
  width: 196px;
  min-height: 60px;

  margin-top: 48px;
  margin-left: 52px;
}

.header-tel {
  border: 3px solid #ffffff;
  width: 270px;
  min-height: 45px;
  padding-top: 7px;
  padding-left: 72px;
  /* margin: 48px 24px 0 0; */
  margin: 0;
}


.header-tel a {
  color: #ee3643;

}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  color: #32425c;
}

.main-nav {
  width: 940px;
  min-height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-nav-item {
  list-style: none;
  /* width: 127px; */
  min-height: 60px;
}

.main-nav-item:hover {

  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-nav-item:active {

  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-nav-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  display: block;
  padding: 20px 30px;
}
/* Некоторые пункты меню не попадают в макет. Выранивать каждый по отдельности?*/

.main-nav-list {
  display: flex;
  padding-left: 22px;
}

.features {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #000000;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.feature-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;

}

.feature-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  /* text-align: center; */
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding-left: 50px;
  padding-top: 24px;


}

.features-top {
  display: flex;
  margin-bottom: 20px;
}

.features-bottom {
  display: flex;
  flex-direction: column;


}

.feature-top {
  width: 300px;
  height: 123px;
  margin-right: 20px;
}

.feature-bottom {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.feature-title {
  padding-top: 20px;
  padding-left: 22px;
  margin: 0;
}

.slider {
  width: 620px;
  height: 226px;
}

.section-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;

  width: 940px;
  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  color: #32425c;
  padding-left: 28px;
}

.section-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding-right: 80px;
  align-self: center;
}


.section-header-inner {
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
  margin-bottom: 14px;
}

.product-list {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;


  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
}

.product-item {
  list-style: none;
  width: 218px;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;

}

.button-price {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.hover-links a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}


.hover-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
}

.hover-buy:hover {
  background-color: #5fbb2d;
}

.hover-buy:active {
  background-color: #518534;
}

.hover-bookmark {
  color: #32425c;
}

.hover-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 60px;
}

/*Картинки выравнивать по отдельности?*/

.manufacturers-item {
  list-style: none;
  text-align: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;

}

.services-slider {
  display: flex;
  justify-content: flex-start;
}

.services {
  background-color: #f4f7f9;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #000000;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 60px;
  /*Временно*/
  height: 522px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 68px;

}

.services-desc {
  font-size: 13px;
  line-height: 24px;
}

.services-left-col {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.services-right-col {
  width: 400px;
}


.services-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.services-button-active {
  color: #32425c;
}

.services-slide-header {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
  padding-top: 18px;
  margin-bottom: 25px;

}

.services-slide-desc {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.section-about {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  width: 520px;

}

.section-contacts {
  width: 300px;
  margin-right: 0;
  margin-bottom: 90px;
}

.about-wrapper {
  display: flex;
}

.contacts-header,
.about-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 24px;
}

.contacts-desc {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 58px;
}

.about-desc {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 24px;
}

.map {
  margin-bottom: 40px;
}

.delivery-list {
  margin-bottom: 42px;
}

.delivery-list-item {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.basic-button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal {
  display: none;
}

.footer {
  background-color: #32425c;
  /*временно*/
  height: 300px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px rgba(0,255,17,1);
  display: block;
  margin-bottom: 30px;
}

.footer-logo-img {
  margin-top: 23px;
  margin-left: 40px;

}

.footer-nav {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
}

.footer-sup-left {
  width: 326px;
}

.footer-nav-list-top {
  display: flex;
  justify-content: space-between;
  padding-left: 67px;
  padding-top: 22px;

}

.footer-nav-list-top-link {
  color: #f3f7f9;
}

.footer-nav-list-bottom {
  display: flex;
  justify-content: space-between;
  /*нормальн ли что так много?*/
  padding-left: 90px;
  padding-top: 16px;
}

.footer-nav-list-bottom-link {
  color: #ffd180;
}

.footer-sup {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 49px;
}

.footer-sup-flex {
  display: flex;
}

.footer-address {
  color: #f3f7f9;
  font-style: normal;
  font-weight: 400;
  width: 330px;
}

.footer-sub {
  background-color: #293449;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;

  height: 107px;
}

.footer-sub-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #ffffff;
  width: 227px;
  padding-top: 20px;
}

.social-buttons {
  display: flex;
  width: 135px;
  margin-left: 99px;
  padding-top: 32px;

}

.social-buttons a {
  width: 42px;
}

.feedback {
  color: #ffffff;
  width: 135px;
  padding-left: 24px;
  padding-top: 21px;
}

.feedback a {
  color: #ffd180;
}

.developers {
  color: #ffffff;
  padding-top: 18px;
  padding-right: 10px;
}

.developers a {
  color: #ffd180

}

.user-link a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
}

.user-link a:hover {
  color: #ee3643;
}

.user-link a:active {
  color: rgba(50, 66, 92, 0.3);
}





/*INNER PAGES*/

.breadcrumbs-list-item-link {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  list-style: none;
  color: #000000;
}

.filter {
  width: 220px;
  /*временно*/
  height: 38px;
  display: block;
}

.sort-filters {
  font-family: 'PT sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

  display: flex;
  flex-direction: column;
  margin-right: 20px;

}

.sort-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.price-filter {
  /*временно*/
  height: 80px;
}


.flex-wrapper-column {
  display: flex;
  flex-direction: column;

}

.flex-wrapper-row {
  display: flex;

}

.sort {
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ec;
  margin-bottom: 20px;

  /*временно*/
  height: 38px;
}

.sort-header {
  margin: 0;
}

.sort-position-list{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 360px;
  padding-top: 10px;
}

.sort-position-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #b6b3ae;
  border-bottom: 1px dotted #ee3643;
}


.sort-direction-list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  display: flex;
  justify-content: space-between;

  width: 60px;
  padding-top: 10px;
}

.product-list-inner {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;


  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  width: 220px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  /*временно*/
  height: 318px;
}

.products-page-list{
  list-style: none;
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
}

.products-page-item {
  margin-right: 10px;
}
.products-page-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000000;
}

.products-page-item.current a {
  border: none;
  color: #ffffff;
  background-color: #ee3643;
}

.products-page-item a:hover {
  border-color: #bdc6ca;
}

.products-page-item a:active {
  border-color: #ee3643;
}

.about-inner {
  background-color: #f4f7f9;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #000000;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-bottom: 73px;
}

.about-inner-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 68px;

}

.about-inner-desc {
  font-size: 13px;
  line-height: 24px;
}
