* {
 outline: 3px solid #8c1738;
}

::before {
  content: attr(title);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header,
.inner-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-align: left;
  font-weight: 400;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-logo {
  width: 220px;
  background-color: #ee3643;
}

.search-top {
  width: 200px;
}

.bookmarks-button {
  width: 150px;
}

.cart-button {
  width: 150px;
}

.checkout-button {
  width: 150px;
}



.breadcrumbs-list-item {
  list-style: none;
}

.footer-nav-list-bottom-item {
  list-style: none;
}

.footer-nav-list-top-item {
  list-style: none;
}

.services-background {
  width: 1200px;

}

.manufacturers-item {
  list-style: none;
}

.product-item {
  list-style: none;
}

.header-menu-background {
  background-color: #293449;

}

.header-menu {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;

  width: 1200px;
  min-height: 42px;


  display: flex;
  flex-direction: row;
  justify-content: center;

}

.header-menu a {
  color: #ffffff;

}

.info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.search-top {
  width: 270px;
  height: 42px;
  color: #ffffff;
  background-color: transparent;
}

/*.search-top:hover {
  width: 150px;
  height: 42px;
  background-color: #212a3a;
  color: #ffffff;
}

.search-top:focus {
  width: 270px;
  height: 42px;
  background-color: #ffffff;
  color: #000000;
}
*/
.checkout-button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  color: #ffffff;
}

.checkout-button:hover {
  background-color: #5fbb2d;
}

.checkout-button:active {
  width: 150px;
  height: 42px;
  background-color: #518534;
}


.bookmarks-button:hover {
  width: 150px;
  height: 42px;
  background-color: #212a3a;
}

.bookmarks-button:active {
  width: 150px;
  height: 42px;
  background-color: #161d29;
}

.cart-button:hover {
  width: 150px;
  height: 42px;
  background-color: #212a3a;
}

.cart-button:active {
  width: 150px;
  height: 42px;
  background-color: #161d29;
}

.login-button {
  background-color: #ffffff;
  color: #000000;
}

.login-button:hover {
  color: #ee3643;
}

.login-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.reg-button {
  background-color: #ffffff;
  color: #000000;
}

.reg-button:hover {
  color: #ee3643;
}

.reg-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.username {
  width: 1280px;
  height: 4880px;
  background-color: #ffffff;
}

.username-link:active {
  width: 1280px;
  height: 4880px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
}

.header-contacts,
.user-nav a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  color: #32425c;
}
.main-h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

  width: 196px;
  min-height: 60px;

}
.header-tel {
  border: 3px solid #ffffff;
  width: 270px;
  min-height: 45px;
  padding-top: 32px;
}

.header-tel a {
  color: #ee3643;
}

.main-nav {
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;

}
.main-nav-item {
  list-style: none;

}

.main-nav-item:hover {
  width: 127px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-nav-item:active {
  width: 127px;
  height: 60px;
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-nav-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;

}

.features {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #000000;

}

.feature-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;

}
.feature-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.features-left {
  display: flex;

}

.features-right {
  display: flex;

}

.section-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: normal;

  width: 940px;
  background-color: #f9f5f0;

  display: flex;

}

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #32425c;

}
.section-link {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}


.section-header-inner {
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
}

.product-list {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;


  display: flex;
  justify-content: space-between;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}
.button-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.hover-links a{
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}


.hover-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
}

.hover-buy:hover {
  background-color: #5fbb2d;
}

.hover-buy:active {
  background-color: #518534;
}

.hover-bookmark {
  color: #32425c;
}

.hover-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}

.services {
  width: 1200px;

  background-color: #f4f7f9;

  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #000000;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;


}

.services-title {
  font-size: 30px;
  line-height: 30px;
}

.services-desc {
  font-size: 13px;
  line-height: 24px;
}

.services-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}
.services-button-active {
  color: #32425c;
}

.services-slide-header {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-slide-desc {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.section-about {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.contacts-header,
.about-header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts-desc,
.about-desc {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-list-item {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.basic-button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal {
  display: none;
}

.footer-nav {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
}

.footer-nav-list-top-link {
  color: #f3f7f9;
}

.footer-nav-list-bottom-link {
  color: #ffd180;
}

.footer-sup {
  width: 1200px;
  height: 300px;
  background-color: #32425c;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
}

.footer-address {
  color: #f3f7f9;
}

.footer-sub {
  width: 1200px;
  height: 107px;
  background-color: #293449;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
}

.copyright {
  color: #ffffff;
}

.feedback {
  color: #ffffff;
}
.feedback a {
  color: #ffd180;
}

p.developers {
  color: #ffffff;
}

.developers a {
  color: #ffd180
}

.user-link a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
}

.user-link a:hover {
  color: #ee3643;
}

.user-link a:active {
  color: rgba(50, 66, 92, 0.3);
}



.breadcrumbs-list-item-link {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  list-style: none;
  color: #000000;
}

.sort-filters {
  font-family: 'PT sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

}

.sort-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
